@inherits LayoutComponentBase

<main role="main" class="flex flex-col h-screen">
    @Body
</main>

<div role="alert" id="blazor-error-ui" class="hidden" data-nosnippet>
    <div class="fixed bottom-0 left-0 right-0 bg-red-700 text-white p-4 flex justify-between items-center">
        <span>An unhandled error has occurred.</span>
        <div class="flex space-x-4">
            <a href="." class="reload underline">Reload</a>
            <span class="dismiss cursor-pointer">🗙</span>
        </div>
    </div>
</div>
